@model MvcThesis.Role

@using (Html.BeginForm("Edit", "Role", FormMethod.Post, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (TempData["ErrorMessage"] != null)
    { @:
    <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">
            ×
        </a>
        <i class="icon-remove-sign"></i>
    </div>}
    <div class="control-group">
        @Html.LabelFor(m => m.RoleName, new { @class = "control-label" })
        <div class="controls">
            @Html.TextBoxFor(m => m.RoleName)
            @Html.ValidationMessageFor(m => m.RoleName)
        </div>
    </div>
    @Html.HiddenFor(m => m.RoleId)

}