@model MvcThesis.Role

@using (Html.BeginForm("EditPermission", "Role", FormMethod.Post, new { @class = "form form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    if (TempData["ErrorMessage"] != null)
    { @:
    <div class="alert alert-error">
        <a href="#" class="close" data-dismiss="alert">
            ×
        </a>
        <i class="icon-remove-sign"></i>
    </div>}
    <div class="control-group">
        @Html.LabelFor(m => m.RoleName, new { @class = "control-label" })
        <div class="controls">
            @Html.Label(Model.RoleName, new { @class = "control-label" })
        </div>
    </div>
    <hr class="hr-normal">
    <div class="control-group">
        <label class="control-label" for="inputSelectMulti">选择权限</label>
        <div class="controls">
            @foreach (var role in ViewData["PermissionSelectList"] as List<SelectListItem>)
            {
                <label class="checkbox inline">
                    <input type="checkbox" name="permissions" value="@role.Value" checked="@role.Selected" />
                    @role.Text
                </label>
            }
        </div>
    </div>
    @Html.HiddenFor(m => m.RoleId)

}