@model MvcThesis.UserProfile
@{
    ViewBag.Title = "个人资料";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9 box">
    <div class="box-content box-double-padding">
        <fieldset>
            <div class="span4">
                <div class="lead">
                    <i class="icon-signin text-contrast"></i>
                    个人资料
                </div>
                <small class="muted">个人资料将作为您的毕业设计系统个人信息凭据，如有误请联系辅导员修改。</small>
            </div>
            <div class="span7">
                <div class="dd-list">
                    <dl class="dl-horizontal">
                        <dt>学号/工号</dt>
                        <dd>@Model.UserName</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>姓名</dt>
                        <dd>@Model.FullName</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>学院</dt>
                        <dd>@Model.Institute</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>专业</dt>
                        <dd>@Model.Major</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>班级</dt>
                        <dd>@Model.Class</dd>
                    </dl>
                </div>
                <div class="form-horizontal">
                    <form action="@Url.Action("MyProfile")" method="post" class="ajax-form">
                        <div class="control-group">
                            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Phone)
                                @Html.ValidationMessageFor(m => m.Phone)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.ShortPhone, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.ShortPhone)
                                @Html.ValidationMessageFor(m => m.ShortPhone)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Email)
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <hr class="hr-normal">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input data-target="#change-password" data-toggle="collapse" name="changepasswordcheck" type="checkbox" value="1" class="collapsed">
                                    修改密码?
                                </label>
                            </div>
                        </div>
                        <div class="collapse" id="change-password" style="height: 0px;">
                            <div class="control-group">
                                <label class="control-label">原始密码</label>
                                <div class="controls">
                                    <input class="span12" name="pwd" placeholder="原始密码" type="password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">新密码</label>
                                <div class="controls">
                                    <input class="span12" name="newpwd" placeholder="请输入新密码" type="password">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">确认密码</label>
                                <div class="controls">
                                    <input class="span12" name="renewpwd" placeholder="请再输入一次新密码" type="password">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </fieldset>
        <hr class="hr-normal">
        <div class="form-actions" style="margin-bottom: 0;">
            <div class="text-right">
                <div class="btn btn-primary btn-large">
                    <i class="icon-save"></i>
                    保存
                </div>
            </div>
        </div>
    </div>
</div>
