@model IEnumerable<MvcThesis.UserViewModel>
<div class='row-fluid'>
    <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
        <div class='box-header purple-background'>
            <div class='title'>账号列表</div>
            <div class="pull-right">
                <button class="btn btn-success btn-modal" data-url="@Url.Action("Create")" data-title="添加" name="button" style="margin-bottom:5px" type="submit">添加</button>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary btn-modal" data-url="@Url.Action("Import")" data-title="批量导入" name="button" style="margin-bottom:5px" type="submit">批量导入</button>
            </div>
        </div>
        <div class='box-content box-no-padding'>
            <div class='responsive-table'>
                <div class='scrollable-area'>
                    <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
                        <thead>
                            <tr>
                                <th>
                                    账号
                                </th>
                                <th>
                                    姓名
                                </th>
                                <th>
                                    职称
                                </th>
                                <th>
                                    角色
                                </th>
                                
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.User_Name</td>
                                    <td>@user.Full_Name</td>
                                    <td>@user.JobTitle</td>
                                    <td>@user.Role_Name</td>
                                    
                                    <td>
                                        <div class='text-right'>
                                            <a class="btn btn-primary btn-mini btn-modal" data-url="@Url.Action("EditRole")" data-title="配置角色" data-id="@user.User_ID" href="#modal-profile" role="button">配置角色</a>
                                            <a class="btn btn-info btn-mini btn-modal" data-url="@Url.Action("Edit")" data-title="编辑资料" data-id="@user.User_ID" href="#modal-profile" role="button">编辑</a>
                                            <a class="btn btn-modal btn-mini btn-warning" data-url="@Url.Action("ResetPassword")" data-title="重置密码" data-id="@user.User_ID" href="#modal-profile" role="button">重置密码</a>
                                            <a class='btn btn-danger btn-mini btn-del' data-url="@Url.Action("Delete")" data-id="@user.User_ID" href='###'>
                                                <i class='icon-remove'></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>账号</th>
                                <th>姓名</th>
                                <th>职称</th>
                                <th colspan='2'>角色</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal hide fade in" id="modal-profile" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
</div>