@*评阅评分课题列表*@
@{
    ViewBag.Title = "待评阅评分课题列表";
}
@model IEnumerable<MvcThesis.Topic>
<div class='row-fluid'>
    <div class='span12 box bordered-box orange-border' style='margin-bottom:0;'>
        <div class='box-header purple-background'>
            <div class='title'>待评阅评分课题列表</div>
        </div>
        <div class='box-content box-no-padding'>
            <div class='responsive-table'>
                <div class='scrollable-area'>
                    <table class='data-table-column-filter table table-bordered table-striped' style='margin-bottom:0;'>
                        <thead>
                            <tr>
                                <th>
                                    课题名称
                                </th>
                                <th>
                                    指导老师
                                </th>
                                <th>
                                    指导学生
                                </th>
                                <th>
                                    状态
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var topic in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="btn btn-link has-tooltip show-modal" data-placement="top" title="点击查看课题详情" data-url="@Url.Action("TopicDetail")" data-id="@topic.TopicId">
                                            @topic.Title
                                            @if (topic.IsFromStudent)
                                            {
                                                <span class="label label-important">学生自命题</span>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn btn-link has-tooltip show-modal" data-placement="top" title="点击查看教师详情" data-url="@Url.Action("TecDetail","Stu")" data-id="@topic.Teacher.UserId">
                                            @(topic.Teacher.FullName)
                                        </div>
                                    </td>
                                    <td>
                                        @if (topic.Student != null)
                                        {
                                            <div class="btn btn-link has-tooltip show-modal" data-placement="top" title="点击查看学生详情" data-url="@Url.Action("StuDetail")" data-id="@topic.Student.UserId">
                                                @topic.Student.FullName
                                            </div>
                                        }
                                        else
                                        {
                                            <span class="label label-warning">未有学生申请</span>
                                        }
                                    </td>
                                    <td>
                                        @if (topic.CommentScore>0)
                                        {
                                            <span class="label label-success">@topic.CommentScore 分</span>
                                        }
                                        else 
                                        {
                                            <span class="label label-inverse">等待您评分</span>
                                        }
                                    </td>
                                    <td>
                                        @if (!(topic.CommentBook == null && topic.Report == null && topic.Thesis == null && topic.CommentBook == null))
                                        {
                                            <a class="btn btn-warning show-modal" data-url="@Url.Action("DocumentDetail","Tec")" data-id="@topic.TopicId">
                                                查看相应文档
                                            </a>
                                        }
                                        @if (topic.CommentBook != null)
                                        {
                                            <a class="btn btn-info btn-modal" data-url="@Url.Action("ScoreComment", "Tec")" data-title="评阅评分" data-id="@topic.TopicId">
                                                评阅评分
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal hide fade in" id="modal-profile" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
</div>
